body {
  font-family: "Nunito", sans-serif;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/imgs/hero-img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .profile-link-items {
  color: white;
  text-decoration: none;
}

#hero .profile-link-items:hover,
#hero .profile-link-items:focus {
  color: rgb(212, 212, 212);
}

.navbar,
.navbar.scrolled {
  background-color: #22223b;
  transition: background-color 500ms;
}

.navbar img {
  height: 1.75rem;
}

#projects .img-fluid {
  transition: all 250ms;
}

#projects .img-fluid:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#projects .badge {
  background-color: #acc4ad;
}

#skills,
#contact {
  background-color: #f3f3f3;
}

#skills .fas {
  background-color: #acc4ad;
  color: white;
  font-size: 1.5rem;
  padding: 1.25rem;
  border-radius: 50%;
}

#skills .card {
  transition: transform 250ms;
}

#skills .card:hover {
  transform: translateY(-0.5rem);
}

#trainings .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#trainings small {
  color: #22223b;
}

#trainings .progress-bar {
  background-color: #acc4ad;
}

#contact .fas {
  background-color: #acc4ad;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
}

#contact #floatingMessage {
  height: 8rem;
}

#contact .btn {
  background-color: #22223b;
  color: white;
}

#contact .btn:hover,
#contact .btn:focus {
  background-color: #22223be8;
  color: white;
}

.footer {
  background-color: #acc4ad;
}

.footer .img-fluid {
  height: 2rem;
}

.footer .social-media-icons > a {
  margin: 0 0.5rem;
  color: white;
  font-size: 1.25rem;
}

/* UTILITIES */

.content {
  padding: 8rem 0;
}

.content-narrow {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  #hero .profile-link-items {
    font-size: 1.25rem;
  }

  .navbar {
    background-color: transparent;
  }

  .footer img {
    margin-left: 0 !important;
  }

  .footer .d-flex {
    flex-direction: row !important;
    justify-content: space-between;
  }

  /* UTILITIES */

  .content {
    padding: 10rem 0;
  }

  .content-narrow {
    padding: 4rem 0;
  }
}
